# Variables & Auto-complete
   1. [Variable Names](#Variable_Names)
   2. [How to assign a value to a variable](#How_to_assign_a_value_to_a_variable)
   3. [How to delete a variable](#How_to_delete_a_variable)
   4. [How to use Jupyter notebook's Auto-Complete](#How_to_use_Jupyter_notebook's_Auto-Complete)

<a id="Variable_Names"></a>
### Variable Names
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python 
variables:                                                                                                                      
A variable name must start with a letter or the underscore character

A variable name cannot start with a number

A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

Variable names are case-sensitive (age, Age and AGE are three different variables)

In [1]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

<a id="How_to_assign_a_value_to_a_variable"></a>
### Assigning Values to Variables

In [2]:
counter = 100
name = 'pooya'
height = 185.0


print("counter: ", counter)
print("name: ", name)
print("height: ", height)

counter:  100
name:  pooya
height:  185.0

<a id="How_to_assign_a_value_to_a_variable"></a>
### Multiple Assignment

In [3]:
a = b = c = 1
print(a, b, c)

1 1 1

In [4]:
a, b, c = 1, 2, "pooya"
print(a, b, c)

1 2 pooya

#### Value Error

In [5]:
a, b, c = 1, 2, "pooya", "mohammadi"

ValueError: too many values to unpack (expected 3)

#### Q: How to replace the values of two variables like below?

In [ ]:
a = 10
b = 20
print("a: ", a, ", b: ", b)

In [ ]:
# A
a, b = b, a
print("a: ", a, ", b: ", b)

<a id="How_to_delete_a_variable"></a>
### Delete a variable

In [ ]:
a = 10
print('a: ', a)

In [6]:
del a
print('a: ', a)

NameError: name 'a' is not defined

<a id="How_to_use_Jupyter_notebook's_Auto-Complete"></a>
### Auto-Complete
Type in the first two or three characters of a variable or a function and hit `tab`. Then Jupyter notebook's auto-complete
1. pops up a drop down menu with several suggestions
2. automatically completes the input if there is only one possible completion available
3. or just does nothing if there are no completions due to misspelling, import issues etc.

In [7]:
counter = 100

In [8]:
# drop down list:
co

NameError: name 'co' is not defined

In [9]:
# atomatic completion with one hit
coun

NameError: name 'coun' is not defined

In [10]:
# misspelling
coan

NameError: name 'coan' is not defined

In [11]:
# How can misspelling become a pain in programming?
counter = 200
print(counter - 10) # your expectation is 190 but the output is 90!

190

*_:)_*