## Standard Data Types
    1. numeric types:
        1. int
        2. float
        3. complex
        4. bool
    2. sequence types:
        1. str
            1. indexing
            2. slicing
            3. immutable
            4. strip
            5. split
            6. string formatting

## Numeric Types

In [35]:
var_1 = 1
var_2 = 10
var_1, var_2

(1, 10)

In [36]:
var_1 = 10              # int
var_2 = 51924361343435  # long --> int
var_3 = 0.5             # float
var_4 = 3.14j           # complex
print(var_1, " is int | ", var_2, " is long | ", var_3, " is float | ", var_4, " is complex")

10  is int |  51924361343435  is long |  0.5  is float |  3.14j  is complex

### Boolean

In [38]:
true = True
false = False

## Sequence Types
### Strings

In [39]:
var = 'Hello World!'
var = "Hello World!"

print(var)              # Prints the complete string

Hello World!

In [42]:
# Prints string two times
var_2 = var * 2
print(var_2)

Hello World!Hello World!

In [43]:
var_3 = "l" * 10
var_3

'llllllllll'

In [44]:
# Prints concatenated string
var_4 = var + " TEST"
print(var_4)

Hello World! TEST

In [46]:
# Prints strings length
var_len = len(var)
print("len of ", var, " is", var_len)

len of  Hello World!  is 12

## Index
### Note: Indexing starts at Zero

In [51]:
# Prints 3rd character of the string
# printst the character at index two
character_at_index_two = var[2]
print(character_at_index_two)

l

### Slice
#### includes the starting index & excludes the ending index

In [52]:
# Prints characters starting from 3rd to 7th          
print(var)
print(var[2: 7])

Hello World!
llo W

In [53]:
# Prints the whole string starting from 3rd character
print(var[2: ])

llo World!

In [54]:
# Prints string starting from first character till third
print(var[:3])

Hel

In [55]:
# Prints whole string
print(var[:])

Hello World!

### Negative indexing

In [61]:
len(var) - 1

11

In [57]:
print(var[-1])

!

In [58]:
# Prints one before last item
print(var[-2])

d

In [62]:
print(var[len(var) -1])

!

## Step

In [65]:
# step, stride is 2
print(var)
print(var[0: 5: 2])

Hello World!
Hlo

In [66]:
# Prints from end
print(var)
print(var[::-1])

Hello World!
!dlroW olleH

### Returns the index of the specified character
Shift + tab : To openup docstring

In [75]:
var.index("d")

10

In [73]:
var.index("Wor")

6

## Strings are immutable

In [76]:
var

'Hello World!'

In [77]:
del var[2]

TypeError: 'str' object doesn't support item deletion

### How to replace the space at index 5 with an underline

In [ ]:
# Hello World! --> Hello_World!

In [78]:
var[5] = "_"

TypeError: 'str' object does not support item assignment

 ##### Answer

In [79]:
var_1 = var[:5] + '_' + var[6:]
var_1

'Hello_World!'

#### Answer with str.replace()
The replace() method replaces a specified phrase with another specified phrase.

In [16]:
var = 'Hello World!'
var_1 = var.replace(' ', '_')
print(var_1)

Hello_World!

In [18]:
txt = "one one two two one two"

x = txt.replace("one", "three")

print(x)

three three two two three two

In [19]:
txt = "one one two two one two"

x = txt.replace("one", "three", 2)

print(x)

three three two two one two

## strip
#### Remove spaces at the beginning and at the end of the string

In [2]:
txt = "    pooya     "

f_name = txt.strip()

print(f_name)

pooya

### Definition and Usage

The strip() method removes any leading (spaces at the beginning) and trailing (spaces at the end) characters (space is the default leading character to remove)

string.strip(characters)

In [4]:
txt = ",,,,,rrttgg.....pooya....srr.#"

x = txt.strip(",.grt#s")

print(x)

pooya

### rstrip

In [20]:
txt = "pooya,,,,,ssqqqww....."

x = txt.rstrip(",.qsw")

print(x)

pooya

In [21]:
txt = ",,,,... pooya,,,,,ssqqqww....."

x = txt.rstrip(",.qsw")

print(x)

,,,,... pooya

## split
Split a string into a list where each word is a list item

You can specify the separator, default separator is any whitespace.

string.split(separator, maxsplit)

In [8]:
f_name = 'pooya'

f_name.split()

['pooya']

In [10]:
txt = ".. hello world .."

x = txt.split()

print(x)

['..', 'hello', 'world', '..']

In [10]:
# Split the string, using comma, followed by a space, as a separator:

txt = "Hello, my name is pooya, I am a programmer"

x = txt.split(", ")

print(x)

['Hello', 'my name is pooya', 'I am a programmer']

In [9]:
txt = "Hello # my name is pooya #I am a programmer # I am  from Iran" 

x = txt.split("#")

print(x)

['Hello ', ' my name is pooya ', 'I am a programmer ', ' I am  from Iran']

In [8]:
# Split the string into a list with max 2 items:

txt = "Hello # my name is pooya #I am a programmer # I am  from Iran" 
x = txt.split("#", 1)

print(x)

['Hello ', ' my name is pooya #I am a programmer # I am  from Iran']

### rsplit
The rsplit() method splits a string into a list, starting from the right.

If no "max" is specified, this method will return the same as the split() method.

In [4]:
txt = "Hello # my name is pooya #I am a programmer # I am from Iran"

x = txt.rsplit("#")

print(x)

['Hello ', ' my name is pooya ', 'I am a programmer ', ' I am from Iran']

In [11]:
txt = "Hello # my name is pooya # I am a programmer # I am from Iran"

x = txt.rsplit("#", 1)

print(x)

['Hello # my name is pooya # I am a programmer ', ' I am from Iran']

## string formatting

In [81]:
student_grade = 19
student_ssn = '000120230'
print('student grade is {}'.format(student_grade))
print('student with {1} ssn got a score of {0}'.format(student_grade, student_ssn))
print('student with {} ssn got a score of {}'.format(student_ssn, student_grade))
print('student with {ssn} ssn got a score of {grade}'.format(ssn=student_ssn, grade=student_grade))

student grade is 19
student with 000120230 ssn got a score of 19
student with 000120230 ssn got a score of 19
student with 000120230 ssn got a score of 19

In [83]:
student_grade = 19.5
print('student grade is %d, ssn = %s' %(student_grade, student_ssn))

student grade is 19, ssn = 000120230

In [85]:
student_grade = 19
print('student grade is %f, ssn = %s' %(student_grade, student_ssn))

student grade is 19.000000, ssn = 000120230

In [88]:
student_grade = 19
print(f'student grade is {student_grade}, ssn = {student_ssn}')

student grade is 19, ssn = 000120230

In [89]:
first_name, last_name = 'pooya', 'mohammadi'
print(f'My name is {first_name} {last_name}')

My name is pooya mohammadi

*:)*