## Standard Data Types
    1. numeric types:
        1. int
        2. float
        3. complex
        4. bool
    2. sequence types:
        1. str
        2. list
            1. create a list
            2. indexing & slicing
            3. mixture objects
            4. mutable:
                1. append
                2. extend
                3. remove

## Lists
A list is comprised of a starting bracket '[' and an ending ']' one and the items are seperated with ",".

In [119]:
names = ["Ali", "Karim", "Hamid"]
print(names)

['Ali', 'Karim', 'Hamid']

In [120]:
# len is used to count the number of items inside a list
print('length of names is: ', len(names))

length of names is:  3

### Indexing & Slicing
The indexing starts at zero

In [121]:
names[2]

'Hamid'

In [123]:
# indexing with negative numbers
names[-1], names[len(names) -1]

('Hamid', 'Hamid')

In [124]:
names[-2]

'Karim'

In [125]:
# reutrns an index error
names[-4]

IndexError: list index out of range

In [127]:
# slicing: 
# the starting index is included 
# the ending index is excluded
names[1:3]

['Karim', 'Hamid']

In [128]:
# steping
names[0:3:2]

['Ali', 'Hamid']

In [129]:
# reverses the list
names[::-1]

['Hamid', 'Karim', 'Ali']

### Nested indexing

In [130]:
# recommended
names[1][0]

'K'

In [131]:
name = names[1]
name, name[0]

('Karim', 'K')

### .index returns the index of the specified value

In [132]:
names.index('Karim')

1

### Value Error example
Getting the index of a value which is not in the list

In [133]:
names.index('pooya??')

ValueError: 'pooya??' is not in list

### Lists can comprise a mixture of different data types.

In [134]:
mix_it_up = [1, [2, 3, "pooya"], 'alpha', 3., True]
print('mix_it_up ', mix_it_up)

mix_it_up  [1, [2, 3, 'pooya'], 'alpha', 3.0, True]

In [135]:
# nested indexing
mix_it_up[1][-1][3]

'y'

## Lists are mutable

### Adding (a) new item(s) to list

In [136]:
# adds the item to end of list
names.append('Rahim')
print('names: ', names)

names:  ['Ali', 'Karim', 'Hamid', 'Rahim']

In [137]:
# Add a list of items
names.extend(['Pooya','Amir'])
print('names: ', names)

names:  ['Ali', 'Karim', 'Hamid', 'Rahim', 'Pooya', 'Amir']

In [140]:
# concatenates two lists > has the same effect of .extend
concatenated_names = names + ['Pooya','Amir']
print('concatenated_names:', concatenated_names)
print('names', names)

concatenated_names: ['Ali', 'Karim', 'Hamid', 'Rahim', 'Pooya', 'Amir', 'Pooya', 'Amir']
names ['Ali', 'Karim', 'Hamid', 'Rahim', 'Pooya', 'Amir']

In [141]:
names.append(['Sara','Maryam'])
print('names: ', names)
# guess the result!!!

names:  ['Ali', 'Karim', 'Hamid', 'Rahim', 'Pooya', 'Amir', ['Sara', 'Maryam']]

In [142]:
# Extending a string, not recommended
names.extend('Pooya')
print('names: ', names)

names:  ['Ali', 'Karim', 'Hamid', 'Rahim', 'Pooya', 'Amir', ['Sara', 'Maryam'], 'P', 'o', 'o', 'y', 'a']

In [143]:
# int object is no iterable
names.extend(10)

TypeError: 'int' object is not iterable

In [144]:
# inserts a new item to a specific index
print('names: ', names)
names.insert(1, 'Vahid')
print('names: ', names)

names:  ['Ali', 'Karim', 'Hamid', 'Rahim', 'Pooya', 'Amir', ['Sara', 'Maryam'], 'P', 'o', 'o', 'y', 'a']
names:  ['Ali', 'Vahid', 'Karim', 'Hamid', 'Rahim', 'Pooya', 'Amir', ['Sara', 'Maryam'], 'P', 'o', 'o', 'y', 'a']

In [145]:
# Changes the value of a specific index
names[0] = "Kamyab"
print('names: ', names)

names:  ['Kamyab', 'Vahid', 'Karim', 'Hamid', 'Rahim', 'Pooya', 'Amir', ['Sara', 'Maryam'], 'P', 'o', 'o', 'y', 'a']

In [146]:
# Changes the values of the specific indices
names[0:2] = ["Parvaneh"]
print('names: ', names)

names:  ['Parvaneh', 'Karim', 'Hamid', 'Rahim', 'Pooya', 'Amir', ['Sara', 'Maryam'], 'P', 'o', 'o', 'y', 'a']

#### Remove

In [148]:
# removes by index
del names[0]
print('names: ', names)

names:  ['Hamid', 'Rahim', 'Pooya', 'Amir', ['Sara', 'Maryam'], 'P', 'o', 'o', 'y', 'a']

In [149]:
# removes by value
names.remove('Pooya')
print('names: ', names)

names:  ['Hamid', 'Rahim', 'Amir', ['Sara', 'Maryam'], 'P', 'o', 'o', 'y', 'a']

In [151]:
# removes and returns item at given index (default last)
removed_value = names.pop()
print("removed_value:", removed_value)
print("names:", names)

removed_value: y
names: ['Hamid', 'Rahim', 'Amir', ['Sara', 'Maryam'], 'P', 'o', 'o']

In [152]:
# remove the variable
del names

In [153]:
print(names)

NameError: name 'names' is not defined

*:)*