## Standard Data Types
    1. numeric types:
        1. int
        2. float
        3. complex
        4. bool
    2. sequence types:
        1. str
        2. list
        3. tuple:
            1. how to create one 
            2. basic operations
            3. indexing
            4. slicing
            5. immutable

### Tuples

In [2]:
# How to create a tuple
tuple_ = ((4, 5), '125', 786 , 2.23, 'Pooya', 70.2)
tiny_tuple = (123, 'Mohammadi')

# indexing & slicing
print(tuple_)                              # Prints the whole tuple
print(tuple_[0])                           # Prints the first item of the tuple
print(tuple_[1:3])                         # Prints items starting from 2nd till the 3rd one
print(tuple_[2:])                          # Prints items starting from the 3rd one

# nested indexing
print(tuple_[0][0])                        # Prints the first item of the first element in variable tuple_, which is also a tuple 

# basic operations 
print(tiny_tuple * 2)                      # Prints tuple two times
print(tuple_ + tiny_tuple)                 # Prints concatenated tuples
print(("12345", *tuple_, *tiny_tuple))     # Prints concatenated tuples
print("tuple length:", len(tuple_))         # Prints tuples length

((4, 5), '125', 786, 2.23, 'Pooya', 70.2)
(4, 5)
('125', 786)
(786, 2.23, 'Pooya', 70.2)
4
(123, 'Mohammadi', 123, 'Mohammadi')
((4, 5), '125', 786, 2.23, 'Pooya', 70.2, 123, 'Mohammadi')
('12345', (4, 5), '125', 786, 2.23, 'Pooya', 70.2, 123, 'Mohammadi')
tuple length 6

### How to create a tuple with one item?!

In [4]:
not_a_tuple = (10)
type(not_a_tuple)

int

In [5]:
# recommended
a_tuple= (10, ) 
type(a_tuple)

tuple

In [7]:
# not recommended
a_tuple= 10,
print("type: ", type(a_tuple), "value:", a_tuple)

type:  <class 'tuple'> value: (10,)

#### Tuples are immutable

In [8]:
tuple_

((4, 5), '125', 786, 2.23, 'Pooya', 70.2)

In [9]:
tuple_[0] = 15

TypeError: 'tuple' object does not support item assignment

In [10]:
del tuple_[0]

TypeError: 'tuple' object doesn't support item deletion

#### Tuple: .index

In [14]:
tuple_ = ((4, 5), '125', 786, 2.23, 'Pooya', 70.2, '125')

In [15]:
value = "125"
item_index = tuple_.index(value)
print(f'Index of item {value} is {item_index}')

Index of item 125 is 1

In [16]:
value = "125"
tuple_.count(value)

2

*_:)_*