## Standard Data Types
    1. numeric types:
        1. int
        2. float
        3. complex
        4. bool
    2. sequence types:
        1. str
        2. list
        3. tuple:
        4. set:
            1. how to create one
            2. basic operations
            3. indexing?!
            4. add
            5. remove
            6. how to create an empty set

### Sets

In [3]:
# how to create a set
set_ = {'Pooya', 45, 5, 5, 5, 5, 15}
tiny_set = {'Ali', 45}

print("set_:", set_)           # Prints complete set
# basic operations
print('Ali' in set_)           # Prints first element of the set
print('Ali' in tiny_set)       # Prints first element of the set
print(set_ | tiny_set)         # All the items in both
print(set_ ^ tiny_set)         # All the items in either of them but not in both
print(set_ > tiny_set)         # Prints True if the first set contains all the items in the second one
print(set_ < tiny_set)         # Prints True if second set contains all items in the first one
print(set_ & tiny_set)         # Every item which exists in both of the input sets
print(set_ - tiny_set)         # Every item in the former but not the latter.
print(len(set_))               # Prints variable set_'s length

set_: {5, 15, 45, 'Pooya'}
False
True
{'Pooya', 5, 'Ali', 45, 15}
{5, 'Pooya', 15, 'Ali'}
False
False
{45}
{'Pooya', 5, 15}
4

#### items in sets are immutable/hashable

In [4]:
# tuples are hashable
{(10, ), 10}

{(10,), 10}

In [5]:
# lists are unhashable
{[10, ], 10}

TypeError: unhashable type: 'list'

#### Sets: indexing is not available for sets

In [6]:
set_[0]

TypeError: 'set' object is not subscriptable

In [7]:
set_[0: 4]

TypeError: 'set' object is not subscriptable

#### Set: operations

In [11]:
set_ = {'Pooya', 45, 5, 5, 5, 5, 15}
set_

{15, 45, 5, 'Pooya'}

In [12]:
# add a new item
set_.add('pooya')
print(set_)

{5, 45, 15, 'Pooya', 'pooya'}

In [13]:
# add a new item which is already present
set_.add(45)
print(set_)

{5, 45, 15, 'Pooya', 'pooya'}

In [14]:
# remove an item
set_.remove(5)
print(set_)

{45, 15, 'Pooya', 'pooya'}

In [15]:
# remove an item which is not a member
set_.remove(50)
print(set_)

KeyError: 50

In [18]:
removed_value = set_.pop()
print(removed_value, ",set_: ", set_)

15 set_:  {'Pooya', 'pooya'}

In [19]:
# how to create an empty set
empty_set = set()
type(empty_set)

set

### Sets are mutable

In [20]:
set_ = {'Pooya', 45, 5, 5, 5, 5, 15}
set_

{15, 45, 5, 'Pooya'}

In [23]:
# adding
set_.add("Mohammadi")
set_

{15, 45, 5, 'Mohammadi', 'Pooya'}

In [24]:
# removing
set_.remove("Mohammadi")
set_

{15, 45, 5, 'Pooya'}

In [25]:
# Note: sets are unhashable ...
{(1, ), 10 , {1, 2}}

TypeError: unhashable type: 'set'

*_:)_*