# Data Type Conversion
    1. string digit to int and int to string
    2. float to int & int to float
    3. set/list to tuple
    4. tuple/list to set 
    5. ValueError
    6. TypeError
    7. list/tuple to dictionary

In [9]:
# string to int
str_to_int = int('20')
print('str_to_int', str_to_int, type(str_to_int))

# int to string
int_to_str = str(10)
print('int_to_str', int_to_str, type(int_to_str))

str_to_int 20 <class 'int'>
int_to_str 10 <class 'str'>

In [11]:
# float to int
float_to_int = int(10.99)
print('float_to_int', float_to_int, type(float_to_int))

# int to float
int_to_float = float(10)
print('int_to_float', int_to_float, type(int_to_float))

float_to_int 10 <class 'int'>
int_to_float 10.0 <class 'float'>

In [12]:
# set to tuple
set_to_tuple = tuple({10, 20, 20, 30})
print('set_to_tuple', set_to_tuple, type(set_to_tuple))

# tuple to set
tuple_to_set = set((10, 20, 10))
print('tuple_to_set ', tuple_to_set, type(tuple_to_set))

# list to set
list_to_set = set([10, 20, 10])
print('list_to_set ', list_to_set, type(list_to_set))

set_to_tuple (10, 20, 30) <class 'tuple'>
tuple_to_set  {10, 20} <class 'set'>
list_to_set  {10, 20} <class 'set'>

In [13]:
# ValueError
int("4.5")

ValueError: invalid literal for int() with base 10: '4.5'

In [14]:
# TypeError
list_ = [10, [10, 10]]
list_to_set = set(list_)

TypeError: unhashable type: 'list'

### converting list to dict

In [16]:
# ValueError
lst_ = ["Iran", "Tehran", "France", "Paris"]
list_to_dict = dict(lst_)

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [18]:
lst_ = [("Iran", "Tehran"), ("France", "Paris")]
list_to_dict = dict(lst_)
print(list_to_dict)

{'Iran': 'Tehran', 'France': 'Paris'}

In [19]:
tuple_ = (("Iran", "Tehran"), ("France", "Paris"))
tuple_to_dict = dict(tuple_)
print(tuple_to_dict)

{'Iran': 'Tehran', 'France': 'Paris'}

In [20]:
# dict to list
dict_ = {'Iran': 'Tehran', 'France': 'Paris'}
dict_to_list = list(dict_.items())
print(dict_to_list)

[('Iran', 'Tehran'), ('France', 'Paris')]

*:)*